.rating-input {
    display: flex;
    margin: auto;
}

#postReviewContainer {
    margin: 100px auto;
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 5px;
    width: 350px;
    align-items: center;
    padding: 20px;
    font-family: "Manrope", sans-serif;
    margin: 20px auto;
    padding-left: 20px;
}

.postReviewHeading {
    font-size: 18pt;
    font-weight: bold;
    text-align: center;
    padding-left: 20px;
}

.comment-input {
    background-color: green;;
    width: 100%;
    padding: 5px 0px;
    padding-left: 320px;
}

.filled {
    color: black
}

.empty {
    color: grey
}

.rating-input {
    display: flex;
    
}

.submit-button {
    width: 100%;
}


#postReviewContainer .comment-input {
    padding-left: 5px; 
}
