.search-bar {
    display: flex;
    align-items: center;
    /* background-color: #f0f0f0; */
    /* border: 1px solid gray; */
    padding: 8px;
    margin: 8px;
    width: 45em;
    /* max-width: 700px; */
  }
  
  .search-input {
    flex: 1;
    border: none;
    background-color: rgba(218, 165, 32, 0.104);
    border-radius: 10px;
    /* border: 1px solid rgba(218, 165, 32, 0.546); */
    padding: 8px;
    outline: none;
    font-size: 16px;
  }
  
  .search-button {
    background-color: goldenrod;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 8px 12px;
    cursor: pointer;
  }
  
  .search-button i {
    font-size: 18px;
  }