
.watch-detail-container {
  display: flex;
  align-items: center; /* Center vertically */
}

  .watch-detail {
    display: flex;
    justify-content: normal;
    margin: 0 auto;
    width: 100vw;
    max-width: 100%;
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .watch-detail-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    max-width: 100%;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 20px;

  }
  
  .brandName {
    font-size: 20px
  }

  .watch-detail h2 {
    font-size: 28px;
    /* color: #008000;  */
  }
  
  .watch-image {
    height: 40em;
    width: 30em;
    object-fit: cover;
    border-radius: 1em;
  }
  
  
  .watch-paragraph {
    font-size: 18px;
    margin-top: 1em;
    color: black; 
  }
  
  .business-buttons-conditional {
    display: flex;
    margin-top: 1em;
  }
  
  .edit-business-button {
    width: 120px; 
    height: 40px; 
    border-radius: 3em;
    background-color: goldenrod; 
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 1em;
  }

  .delete-business-button {
    width: 120px; 
    height: 40px; 
    border-radius: 3em;
    background-color: #008000; 
    color: white;
    font-weight: bold;
    font-size: 14px;
    margin-right: 1em;
  }

  .add-to-cart-button {
    width: 120px; 
    height: 40px; 
    border-radius: 2.5em;
    background-color: goldenrod; 
    color: white;
    font-weight: bold;
    font-size: 12px;
    margin-right: 1em;
  }
  
  .postYourReview {
    margin-top: 1em;
  }
  
  /* .beep {
    width: 50px;
    border-radius: 3em;
    padding: 1.3em 2em;
    background-color: goldenrod; 
    color: white;
    font-size: 14px;
  } */



.beep {
  padding: 5px 3px; 
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  font-size: 16px; 
}
  
  .individualReview {
    background-color: #f8f9fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .user-individual-review {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0.5em;
    color: goldenrod; 
  }
  
  
  .reviewButtons {
    margin-top: 0.5em;
  }

  .reviewButtons {
    display: flex;
    gap: 5px; /* Adjust the gap value as needed */
  }
  
  #review-edit-button,
  #review-delete-button {
    width: 75%;
    border-radius: 3em;
    padding: 1.3em 2em;
    font-weight: bold;
    font-size: 14px;
  }

  
  #review-edit-button {
    background-color: white;
    border: 2px solid black;
    margin-right: 1em;
    color: #008000; 
  }
  
  #review-delete-button {
    background-color: #008000; 
    color: white;
  }
